.LoginPage {
    height: 100%;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 7.3%;
    padding-top: 1%;
}

.gillsans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}