html, body, #root, #root>div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

@font-face {
  font-family: "GillSans";
  src: local("GillSans"),
   url("./fonts/gillsans.ttf") format("truetype");
}